.homePage {
    width:130px;
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
}

.groupPicList {
    width: 300px;
    border-radius: 8px;
}

.groupPicIndividual {
    width: 400px;
    border-radius: 8px;
}

.personPicIndividual {
    width: 210px;
    border-radius: 8px;
}