body {
    margin: 0px;
    font-family: Trebuchet MS;
    background: #ededed;
}

.header {
    padding: 5px;
    text-align: center;
    background: #b3b8e9;
    color: white;
}

.header h1 {
    margin-left: 10px;
    font-size: 35px;
    line-height: 20px;
    font-weight: 800;
}

.navbar {
    overflow: hidden;
    background-color: #b3b8e9;
    font-weight: 500;
    font-size: 16px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.navbar input {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    font-weight: 500;
    font-size: 15px;
    font-family: Trebuchet MS;
    color: white;
    border-radius: 5px;
    border-color: #50a0d900;
    background-color: #8d91b7;
    padding: 7px;
}

::placeholder {
    color: white;
}

.navbar a:hover {
    background-color: #8d91b7;
}

* {
    box-sizing: border-box;
}

.unsorted {
    height: 60%;
    width: 342px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden; /* disable horizontal scroll */
    background-color: #ffffff;
    border-bottom: 1px solid #B0B0B0;
    border-left: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 20px;
    margin-top: 65px;
    border-radius: 0px 0px 10px 10px;
}

.boxHeaderUnsorted {
    height: 45px;
    width: 342px;
    background-color: #b3b8e9;
    border-top: 1px solid #B0B0B0;
    border-left: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    border-radius: 10px 10px 0px 0px;
    padding-left: 20px;
    margin-top: -55px;
    margin-left: -1px;
    margin-bottom: 15px;
    position: fixed;
}

.categories {
    margin: 20px;
    margin-left: 387px;
    margin-top: 65px;
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 1px solid #B0B0B0;
    border-left: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
}

.categories:after {
    content: "";
    display: table;
    clear: both;
}

.boxHeaderCategories {
    height: 45px;
    background-color: #b3b8e9;
    border-top: 1px solid B0B0B0;
    border-left: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    margin-top: -55px; /*padding categories + boxheader height*/
    margin-bottom: 10px;
    margin-left: -1px; /* categories padding*/
    margin-right: -1px;
    position: relative;
}

.peopleUnsorted {
    float: left;
    height:200px;
    width:170px;
    text-align: center;
    padding:10px;
    padding-left: 0px;
    padding-right: 0px;
    /* border: 1px solid red; */
}

.peopleCategories {
    float: left;
    height:200px;
    width:170px;
    text-align: center;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid red; */
}

.listBox {
    background-color: white;
    margin: 20px;
    margin-left: 140px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid #B0B0B0;
}
.listBox:after {
    content: "";
    display: table;
    clear: both;
}

.directoryBox {
    height: 400px;
    width: 100px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden; /* disable horizontal scroll */
    overflow-y:auto;
    background-color: #ffffff;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    padding: 0px;
    margin: 20px;
}

.groupList {
    float: left;
    height: 270px;
    width: fit-content;
    text-align: center;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid red; */
}

.groupPageBox {
    width:800px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #B0B0B0;
}
.groupPageBox:after {
    content: "";
    display: table;
    clear: both;
}

.groupPageDivs {
    float: left;
    height: 310px;
    width: fit-content;
    text-align: center;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid red; */
}

button {
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    color: white;
    background-color: #b3b8e9;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}